
<br>

<h1><%= @movies.first.class.name.pluralize %></h1>

<br>

<% @movies.each do |movie| %>
  <p><%= link_to movie.name, movie_path(movie) %></p>
<% end %>

<br>

<h1><%= @directors.first.class.name.pluralize %></h1>

<br>

<% @directors.each do |director| %>
  <p><%= link_to director.name, director_path(director) %></p>
<% end %>


